<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LOG IN FORM</title>
</head>
<body>
    <div class="container2">
        <h3>Login form</h3>
        <form action="/login" class="form_2" id="submit" method="post">
            <input type="email" name="email" id="email2" placeholder="Enter your email" required>
            <input type="password" name="password" id="password" placeholder="Enter your secret key here">
            <input type="submit" value="submit" id="send">
        </form>
    </div>
    <script src="./app.js"></script>
</body>
</html>